@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>North Oakville</title>

    <!-- Bootstrap -->
    <link href="~/PeakCondo/css/bootstrap.css" rel="stylesheet">
    <link href="~/PeakCondo/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/PeakCondo/css/bootstrap-theme.css" rel="stylesheet">
    <link href="~/PeakCondo/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="~/PeakCondo/css/font.css" rel="stylesheet">
    <link href="~/PeakCondo/css/font-awesome.css" rel="stylesheet">
    <link href="~/PeakCondo/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/PeakCondo/css/style.css" rel="stylesheet">
    <link href="~/PeakCondo/css/media-queries.css" rel="stylesheet">

    <link rel="stylesheet" href="css/nivo-slider.css" type="text/css" media="screen" />
    <script src="~/PeakCondo/js/npm.js"></script>
    <script src="~/PeakCondo/js/jquery-1.11.1.min.js"></script>
    <script src="~/PeakCondo/js/bootstrap.js"></script>
    <script src="~/PeakCondo/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</head>
<body>

    <div class="background_sect">
        <div class="container">
            <div class="back_border">
                <div class="middle_bg">
                    <div class="top_sect_bg">
                        <div class="col-md-4 col-sm-4">
                            <div class="logo_sctn">
                                <a href="#">
                                    <img src="~/PeakCondo/images/logo.png" alt="" title="" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="top_right_sect">
                                <div class="top_sect"><h2>Call: 416-826-4435</h2></div>
                                <div class="top_sect"><h2>E-Mail: peelhouses@yahoo.com</h2></div>
                            </div>
                            <div class="menu_section">
                                <nav class="navbar navbar-inverse" role="navigation">
                                    <div>
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>

                                        </div>

                                        <!-- Collect the nav links, forms, and other content for toggling -->
                                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                            <ul class="nav navbar-nav">
                                                <li><a href="#" onclick="location.href='@Url.Action("index")'">Home</a></li>
                                                <li><a href="#" onclick="location.href='@Url.Action("about")'">About us</a></li>
                                                <li><a href="#" onclick="location.href='@Url.Action("neighbourhood")'">Awards</a></li>
                                                <li><a href="#" onclick="location.href='@Url.Action("location")'">Past Communities</a></li>
                                                <li><a href="#" onclick="location.href='@Url.Action("register")'">Register Now</a></li>
                                            </ul>
                                        </div>
                                        <!-- /.navbar-collapse -->
                                    </div>
                                    <!-- /.container-fluid -->
                                </nav>


                            </div>
                        </div>

                    </div>
                    <div class="banner_sct_bg">
                        <div class="col-md-12 col-sm-12">
                            <div class="inner_banner">
                                <img src="../PeakCondo/images/banner1.jpg" data-thumb="../PeakCondo/images/banner1.jpg" alt="" title="" />
                            </div>

                            <div class="neighbour_content_sct">
                                <div class="profile_hdng">
                                    <h2>Awards</h2>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="service_box">
                                            <h5>An award-winning family business</h5>
                                            <p>Over the years, Primont Homes has earned a reputation as a quality family builder, and we have won a range of awards representing the pinnacle of residential building excellence in Ontario.

We are honoured to be chosen by a distinguished and independent panel of industry experts, based on our design innovation, craftsmanship, customer service, community planning and more. With an award-winning Décor Studio and several industry-related design awards, it’s no wonder Primont has such a good reputation.

But, of course, while it’s great to be recognized by our peers, the award we value most is the satisfaction and trust of our homebuyers.</p>
                                        </div>
                                       
                                    </div>

                                    <div class="col-md-6 col-sm-6">
                                        <div class="service_box_right">
                                            <div class="img_box"><img src="../PeakCondo/images/31.jpg" alt="" title="" /></div>
                                            <div class="img_box"><img src="../PeakCondo/images/32.jpg" alt="" title="" /></div>
                                        </div>
                                        <div class="service_box_right">
                                            <div class="img_box"><img src="../PeakCondo/images/33.jpg" alt="" title="" /></div>
                                            <div class="img_box"><img src="../PeakCondo/images/34.jpg" alt="" title="" /></div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="futer_section">
                                <h2>Designed & Developed by: Only4Agents</h2>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
<div class="fuutr_phne_bg">
            <div class="futer_mail_bg">
                <div class="futer_mail">
                    <ul>
                        <li><a href="mailto: peelhouses@yahoo.com">
                            <img alt="" src="~/PeakCondo/images/mail_icnnn.png"></a></li>
                        <li><a href="tel:416-826-4435">
                            <img alt="" src="~/PeakCondo/images/mbl_icnnn.png"></a></li>
                        <li><a href="sms:416-826-4435">
                            <img alt="" src="~/PeakCondo/images/sms.png"></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</body>


<script type="text/javascript">
    $('ul.nav li.dropdown').hover(function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
    }, function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
    });
</script>


</html>
